.batch-processing-dialog {
    /* min-width: 50vw; */
}

.file-upload-section {
    /* border: solid 1px rgb(0, 0, 0); */
    display: flex;
    flex-direction: column;
    /* background: rgb(210, 210, 210); */
    /* border-radius: 0.25em;
    border: solid 1px rgb(200, 200, 200); */
    width: 100%;
    height: 100%;

}

.upload-config-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* outline: solid 1px rgb(0, 0, 0); */
    max-height: 60vh;
    /* Ensure children do not overflow this container */
    overflow: hidden;
    background: rgb(210, 210, 210);
    border-radius: 0.25em;
    border: solid 1px rgb(200, 200, 200);
}

/* Button styling */
.batch-processing-add-btn {}

.batch-processing-preference-radios {}

/* Scrollable list container */
.batch-processing-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* Prevent from exceeding parent height */
    max-height: 100%;
    overflow: hidden;

}



.batch-processing-list {
    flex: 1;
    width: 95%;
    min-height: 95%;
    max-height: 90%;
    overflow-y: auto;
    padding: 0.25em;

    margin-top: 0;
    margin-bottom: 0.5em;
    list-style-type: none;
    border: solid 1px #888;
    border-radius: 0.25em;
    background: rgb(220, 220, 220);
    align-self: center;
    scrollbar-width: thin;
    scrollbar-color: #888 #e0e0e0;
}

/* List item styling */
.batch-processing-list-item {
    font-size: 0.8rem;
    margin-top: 0.25em;
    margin-right: 0.5em;
    border-bottom: 1px solid rgb(128, 128, 128);
}

/* Custom scrollbar styling */
.batch-processing-list::-webkit-scrollbar {
    width: 0.5em;
    background: #e0e0e0;

}

.batch-processing-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.batch-processing-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.batch-processing-add-config-file-btn {
    width: auto;
}

.metrics-and-filters-container {
    margin-top: 0.5em;
    background: rgb(210, 210, 210);
    border-radius: 0.25em;
    border: solid 1px rgb(200, 200, 200);
    width: 100%;
}

.filters-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 100%;
    overflow: hidden;
    border-radius: 0.25em;
}

.filters-list {
    flex: 1;
    width: 95%;
    max-height: 100%;
    overflow-y: auto;
    padding: 0.25em;
    margin-top: 0;
    margin-bottom: 0.5em;
    list-style-type: none;
    border: solid 1px #888;
    border-radius: 0.25em;
    background: rgb(220, 220, 220);
    align-self: center;
    scrollbar-width: thin;
    scrollbar-color: #888 #e0e0e0;
    min-height: 3em;

}

.filters-list::-webkit-scrollbar {
    width: 0.5em;
    background: #e0e0e0;
}

.filters-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.filters-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.filters-list-item {

    font-size: 0.9em;
    /* margin: 0.25em; */
    padding: 0.25em;
    border-bottom: 1px solid rgb(128, 128, 128);
}

.dialog-actions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.metrics-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 100%;
    overflow: hidden;
    border-radius: 0.25em;
}

.metrics-list {
    min-height: 3em;

    flex: 1;
    width: 95%;
    max-height: 100%;
    overflow-y: auto;
    padding: 0.25em;
    margin-top: 0;
    margin-bottom: 0.5em;
    list-style-type: none;
    border: solid 1px #888;
    border-radius: 0.25em;
    background: rgb(220, 220, 220);
    align-self: center;
    scrollbar-width: thin;
    scrollbar-color: #888 #e0e0e0;
}

.metrics-list::-webkit-scrollbar {
    width: 0.5em;
    background: #e0e0e0;
}

.metrics-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.metrics-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.metrics-list-item {
    font-size: 0.8rem;
    margin-top: 0.25em;
    margin-right: 0.5em;
    border-bottom: 1px solid rgb(128, 128, 128);
    padding: 0.25em;
}

.dialog-actions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.batch-processing-config-checkboxes {
    border: 1px solid rgb(128, 128, 128);
    /* border-bottom: 1px solid rgb(128, 128, 128); */
    /* border-top: 1px solid rgb(128, 128, 128); */
    background-color: rgb(220, 220, 220);
}