.analysis-results-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* overflow-y: auto; */
    overflow: hidden;
    border-bottom: 1px solid black;
    /* height: 100% */
    /* height: 50vh */
    /* height: initial; */
    height: auto;
    max-height: initial;
    position: relative;
    /* position: absolute; */
    /* top: 0 */
}

.analysis-results {

    position: absolute;
    top: 0
}

.analysis-details {
    display: flex;
    flex-direction: row;
}

.analysis-info {
    display: flex;
    flex-direction: column;
}

.analysis-apd {
    display: flex;
    flex-direction: column;
}