.chart-controls {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    background-color: lightgray;
    margin-left: 0.25em;
    border: solid black 1px;
    box-sizing: border-box;
}

.parameters {
    display: flex;
    flex-direction: column;
}

.parameter-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkboxes {
    display: flex;
    flex-direction: column
}