.well-canvas {
    /* background: rgb(0, 0, 0), */
}

.well-canvas:hover {
    border: 0.2em solid red;
    /* Change the border color on hover */
}

.well-canvas-container {
    /* position: relative;
    width: 150px;
    height: 150px; */
}

.well-canvas-container canvas {
    border: 0.1em solid gray;
    /* Set the border color */
    /* background: rgb(0, 0, 0), */

}

.well-canvas-container canvas:hover {
    border: solid 0.02em rgb(255, 0, 0);
    /* Change the border color on hover */
}

.well-canvas.selected {
    border: 0.06em solid yellow;
    background: white;
}