/* Placeholder styles for NeuralAnalysisModal */
.modal-content {
    /* padding: 0.5em; */
}

.chart-controls {
    /* margin-bottom: 1em; */
}

.modal-header {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly */
}

.modal-body {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
}