.combined-component {
    /* padding-left: 0.25em; */
    /* padding-right: 0.25em; */
   background-color: gray;
   height: 100vh;
}

.combined-component__main-container {
    padding-left: 0.25em;
    padding-right: 0.25em;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 95vh
}

.combined-component__no-data {
       background-color: gray;
       /* height: 100vh; */
}

.combined-component__wave-container {
    display: grid;
    grid-template-columns: 6fr 1fr 6fr 1fr; /* Four columns */
    grid-template-rows: auto auto; /* Two rows for header and content */
    /* border-bottom: 0.5em solid #808080; */
    /* gap: 1em;  */
    /* Space between elements */
}

.combined-component__minigraph-header {
    /* grid-column: 1 /span 2; */
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    padding-right: 0.5em;
}

.combined-component__minigraph {
    /* padding-left: 0.25em; */
    /* padding-right: 0.25em; */
    border: solid 0.5em rgb(50, 50, 50);
    background-color: black;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    /* padding-left: 0.25em;
    padding-right: 0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em; */
    /* box-shadow: 0.2em 0em 0.2em 0.2em black; */
    justify-content:center ;
    
}

.combined-component__minigraph-controls {
    grid-column: 2;
    grid-row: 2;
    /* border-right: 0.5em solid gray; */
    /* padding-right: 0.5em; */
    height: 100%;
    /* width: 90%; */
    box-sizing: border-box; /* Include padding and border in button width */
}

.combined-component__large-graph-header {
    /* grid-column: 3 /span 2; */
    grid-column: 3;
    grid-row: 1;
    text-align: center;
}

.combined-component__large-graph {
    border: solid 0.5em rgb(50, 50, 50);
    background: rgb(0, 0, 0);
    grid-column: 3;
    grid-row: 2;
    /* margin-left: 0.5em; */
}

.combined-component__large-graph-controls {
    /* padding-left: 0.25em; */
    /* padding-right: 0.25em; */
    grid-column: 4;
    grid-row: 2;
    box-sizing: border-box; /* Include padding and border in button width */
}

.combined-component__metrics-filter-container {
    display: grid;
    grid-template-columns: 6fr 1fr 6fr 1fr; /* Four columns */
    grid-template-rows: auto auto; /* Two rows for header and content */
    /* border-bottom: 0.5em solid gray; */
    /* gap: 1em; */
     /* Space between elements */
}

.combined-component__metrics-header {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    padding-right: 0.5em;
}

.combined-component__metrics {
    /* padding-left: 0.25em; */
    /* padding-right: 0.25em; */
    align-items: center;
    justify-content: center;
    border: solid 0.25em rgb(50, 50, 50);
    padding-top: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    background-color: rgb(50, 50, 50);
    grid-column: 1;
    grid-row: 2;
}

.combined-component__metrics-controls {
    grid-column: 2;
    grid-row: 2;
    /* border-right: 0.5em solid gray; */
    /* padding-right: 0.5em; */
}

.combined-component__filters-header {
    grid-column: 3;
    grid-row: 1;
    text-align: center;
}

.combined-component__filtered-graph {
    border: solid 0.5em rgb(50, 50, 50);
    grid-column: 3;
    grid-row: 2;
    /* margin-left: 0.5em; */
}

.combined-component__filter-controls {
    /* padding-left: 0.25em; */
    /* padding-right: 0.25em; */
  grid-column: 4;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: auto; */
  /* margin: 0 auto; Center horizontally */
  padding: 0;
  height: 100%; /* Ensure full height for vertical centering */

}

