.combined-component {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.combined-component__wave-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: auto auto; /* Two rows for header and content */
    border-bottom: 0.5em solid gray;
    gap: 1em; /* Space between elements */
}

.combined-component__minigraph-header {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    padding-right: 0.5em;
}

.combined-component__minigraph {
    grid-column: 1;
    grid-row: 2;
}

/* .combined-component__minigraph-controls {
    grid-column: 2;
    grid-row: 2;
    border-right: 0.5em solid gray;
    padding-right: 0.5em;
} */

.combined-component__large-graph-header {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

.combined-component__large-graph {
    grid-column: 2;
    grid-row: 2;
    margin-left: 0.5em;
}

.combined-component__metrics-filter-container {
    display: grid;
    grid-template-columns: 5fr 5fr 1fr; /* Three columns */
    grid-template-rows: auto auto; /* Two rows for header and content */
    /* border-bottom: 0.5em solid gray; */
    gap: 1em; /* Space between elements */
}

.combined-component__metrics-header {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    padding-right: 0.5em;
}

.combined-component__metrics {
    grid-column: 1;
    grid-row: 2;
}

.combined-component__filters-header {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

.combined-component__filtered-graph {
    grid-column: 2;
    grid-row: 2;
    margin-left: 0.5em;
}

.combined-component__filter-controls {
    grid-column: 3;
    grid-row: 1/span 2;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 0 auto; /* Center horizontally */
  padding: 0;
  height: 100%; /* Ensure full height for vertical centering */

}
