.filter-controls{
  padding-top: 0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 90%;  */
  margin-top: 0; /* Center horizontally */
  margin-bottom: 0; /* Center horizontally */
  /* margin-left: 0.5em;  */
  /* Center horizontally */
  /* margin-right: 0.5em;  */
  /* Center horizontally */
  height: 100%; /* Ensure full height for vertical centering */
  position: relative;
}

.filter-controls__selection-controls {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  /* width: 100%;             */
}

.filter-controls__selected-filters {
  width: 100%;
  /* margin-top: 3em; */
  border: 1px solid #101010;
}

.filter-controls__add-filter-button {
  padding: 0
}

.filter-controls__selected-filters-title {
  font-weight: bold;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
}

.filter-controls__apply-button {
  position: absolute;
  top: 0;
  padding: 0
}

.filter-controls__reset-annotations {
  position: absolute;
  bottom: 0;
  width: 100%
}