.large-graph{
    /* margin-bottom: 0.5em;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr; */
    /* border: solid 0.5em black; */
}

.large-graph-canvas{
    /* position: absolute;
    height: 100%; */
    /* grid-column: 1; */
    background: rgb(0, 0, 0);
    justify-self: center
}

/* .large-graph-controls {
    grid-column: 2;
} */