.minigraph-and-controls {
    /* display: flex; */
}


.minigraph-and-controls__minigraph-container {
    /* border: solid 0.5em black; */
    /* background: rgb(220, 220, 220);  */ /* match canvas background */
  
    /* background: rgb(212, 212, 212); */
background: rgb(50, 50, 50);    display: grid;
    grid-template-areas:
        "minigraph-and-controls__all-selector minigraph-and-controls__column-selectors"
        "minigraph-and-controls__row-selectors minigraph-and-controls__minigraph-grid";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    /* margin-bottom: 0.5em; */
    gap: 0;
    
}

.minigraph-and-controls__minigraph-canvas {
    
    /* background: rgb(220, 220, 220); */
    
    
   /* width: 100%;
   height: 100%; */
    /* display: block; */
    background: rgb(0, 0, 0);
    justify-self: center;
    align-self: center;
}

.minigraph-and-controls__minigraph-canvas:hover {
    /* background: rgb(210, 210, 210); */
    border: solid 0.02em rgb(100, 100, 100);
}

.minigraph-and-controls__minigraph-grid {
    position: relative;
    border: solid 1px black;
    display: grid;
    grid-area: minigraph-and-controls__minigraph-grid;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0;
    box-sizing: border-box;
     /* max-width: 100%;
    max-height: 100%; */
    /* padding-top: 0.1em; */
    padding-top: 0.1em;
    /* padding-right: 0.1em; */
    justify-content: center;
    align-items: center;
    margin: 0;
    justify-content: space-around,
}

.minigraph-and-controls__all-selector {
    grid-area: minigraph-and-controls__all-selector;
    display: flex;
}

.minigraph-and-controls__all-button {
    background-color: lightgray;    /* color:white; */
    border-style: solid;
    text-align: center;
    padding: 0; /* Ensure no padding interferes */
    box-sizing: border-box; /* Include padding and border in button width */
    /* flex: 1 0 auto; Make sure flexbox properties don't interfere */
    width: 100%;
    height: 100%;
    padding: 0;
}

.minigraph-and-controls__column-selectors {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 0;
    /* padding-right: 1em; */
}

.minigraph-and-controls__row-selectors {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
   

}

.minigraph-and-controls__row-button {
   background-color: lightgray; 
   border-style: solid;
    /* color:white; */
    text-align: center;
    padding-left: 0.2em;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.2em;
    
}
.minigraph-and-controls__column-button {
     background-color: lightgray;
     border-style: solid;
    
    align-items: center;
    /* padding: 0; Ensure no padding interferes */
    box-sizing: border-box; /* Include padding and border in button width */
    flex: 1 0 auto; /* Make sure flexbox properties don't interfere */
    
}

.dotwave-loader {
    
}