

.navbar-container {
    display: flex;
    align-items: center;
    background-image: linear-gradient(grey, lightgrey, grey);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.navbar-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.wave-explorer-icon {
    width: 2.5em;
    height: 2.5em;
}

.logo {
    margin: 0.15em 0 0 0;
}
