.navbar-container {
    background-color: grey;
    padding: 0.25em;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
    float: right;
}

.navbar-right {
    display: flex;
    align-items: center;
    float: right;
}

.logo {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.15em;
}

.wave-explorer-icon {
    width: 2.5em;
    height: 2.5em
}

.wavefront-logo {
    width: 14em;
    height: 4em
}