.no-data-uploaded {
    position: relative;
    /* max-height: 100vh; */
    /* height: 100%; */
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 0;
    /* margin: 0; */
    text-decoration: underline;

}

.header-text {
    /* background-color: rgb(148, 148, 148); */
    /* border: 0.25rem solid rgb(7, 0, 134); */
    /* border-radius: 0.5em; */
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */

}

.image-container {
    /* position: absolute;
    bottom: 0; */
    display: flex;
    flex-direction: column;
    height: 80vh;
    /* height: auto; */
    align-items: center;
    justify-content: center;
}

.logo-wrapper {
    position: relative;
    display: inline-block;
}


.logo-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65em;
    height: 35em;
    background-color: white;
    border-radius: 50%;
    border: 0.5em solid #0a0259;
    z-index: 0;
}

.wavefront-logo {
    position: relative;
    width: 52em;
    height: 12em;
    z-index: 1;
}