.metrics__controls-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-content: center;
    /* border: solid 1px black; */
    /* padding-left: 2px;
    padding-right: 2px; */
    position: relative;
    height: 100%;
    margin-left: 0.25em;
    margin-right: 0.25em;
    background-color:  rgb(180, 180, 180);
    clip-path: inset(0px -10px -10px -10px);
box-shadow: 0px 1px 2px 2px rgba(80, 80, 80, 0.25), 0px 1px 4px 4px rgb(100, 100, 100, 0.15), 0px 1px 8px 5px rgba(100, 100, 100, 0.07);    /* box-shadow: 0px 3px 1px -2px rgb(0, 0, 0), 0px 2px 3px 1px rgba(0, 0, 0, 0.535), 0px 5px 5px 0px rgba(0, 0, 0, 0.393); */
}

.metrics__management{
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 95%; */
    /* border: solid 1px black; */
    /* border: solid 0.2em rgb(140, 140, 140); */
    background-color:  rgb(140, 140, 140);
/* box-shadow: 0px 1px 1px 1px rgba(100, 100, 100, 0.25), 0px 1px 4px 2px rgb(100, 100, 100, 0.15), 0px 2px 8px 3px rgba(100, 100, 100, 0.07);    border-top: none; */
    /* border-radius: 0.2em; */
    align-self: center;
    align-content: center;
    /* justify-content: space-between; */
}

.metrics__radio-container {
    display: flex;
    flex-direction: column;
    /* justify-items: center;
    align-items: center; */
    /* width: 95% */
    /* width: 100%; */
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.save-metric-button {
   
    background-image: linear-gradient(-180deg, rgb(96, 127, 190) 0%, rgb(0,32,96) 100%);
 
  box-shadow: none;
}


.metrics-controls__reset-annotations{
  align-self: center;
  /* overflow: hidden; */
  /* width: 95%; */
  margin-top: 0.25em;
  /* margin-left: 0.5em; */
  /* margin-right: 0.5em; */
/* box-shadow: 0px 1px 2px 2px rgba(80, 80, 80, 0.25), 0px 1px 4px 4px rgb(100, 100, 100, 0.15), 0px 1px 8px 5px rgba(100, 100, 100, 0.07);    box-shadow: 0px 3px 1px -2px rgb(0, 0, 0), 0px 2px 3px 1px rgba(0, 0, 0, 0.535), 0px 5px 5px 0px rgba(0, 0, 0, 0.393); */

}
.metrics-controls__reset-annotations.animate-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px; /* line width */
  height: 100%;
  transform-origin: left;
  background-color: green;
  animation: slide-line 0.5s ease-in-out ;
}



@keyframes slide-line {
  0% {
    transform: translateX(0%); /* start */
  }
  50% {
    transform: translateX(2000%); /* midpoint */
  }
  100% {
    transform: translateX(-100%); /* end */
  }
}



.saved-metrics-list {
    /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  align-self: center;
  /* width: 95%; */
  height: 100%;
  max-height: 10em;
  margin-bottom: 0.25em;
  /* max-height: 100%; */
  /* border: 1px solid rgb(180,180,180); */
  
  /* max-height: auto; */
  overflow-y:auto;
  background-color: lightgray;
  /* box-shadow: 0px 1px 1px 1px rgba(100, 100, 100, 0.25), 0px 1px 4px 2px rgb(100, 100, 100, 0.15), 0px 2px 8px 3px rgba(100, 100, 100, 0.07); */
  /* position: relative; */
  /* bottom: 0;
  position: absolute; */
}

/* For WebKit browsers (Chrome, Safari) */
.saved-metrics-list::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.saved-metrics-list::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 10px;
}

.saved-metrics-list::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* Space around thumb for padding effect */
}

.saved-metrics-list::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Thumb color on hover */
}

/* For Firefox */
@-moz-document url-prefix() {
  .saved-metrics-list {
    scrollbar-color: #888 #f1f1f1; /* Thumb and track color */
    scrollbar-width: thin; /* Width of the scrollbar */
  }
}